*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: Lato, sans-serif;
    height: 100%;
}
p, h2{
    line-height: 29px;
}
h1{
    line-height: 80px;
    font-size: 48px;
}
.backgraund--1{
    background-image: url(./image/bg.jpg);
    min-height: 100%;
}
.backgraund--2{
    background-image: url(./image/bg2.jpg);
    min-height: 80%;
}
.backgraund--3{
    background-image: url(./image/bg3.jpg);
    min-height: 80%;
}
.backgraund--4{
    background-image: url(./image/bg4.jpg);
    min-height: 80%;
}.backgraund--1,
.backgraund--2,
.backgraund--3,
.backgraund--4{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#big-header{
    font-weight: 400;
    padding: 1.5rem;
    background-color: black;
    color: #fff;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    letter-spacing: .5rem;
    outline: .5rem solid purple;
    outline-offset: 1rem;
    outline-style: inset;
}
#small-header{
    font-weight: 400;
    padding: 1.5rem;
    background-color: black;
    color: #fff;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    letter-spacing: .5rem;
    outline: .5rem solid purple;
    outline-offset: 1rem;
    outline-style: inset;
}
section{
    padding: 5rem;
    text-align: center;
}
.prag-1{
    background-color:rgb(241,241,241);
    color: #666666;
}
.prag-2{
    background-color:rgb(41,46,51);
    color: #dddddd;
}
.prag-3{
    background-color:rgb(241,241,241);
    color: #666666;
}
.prag-4{
    background-color:rgb(41,46,51);
    color: #dddddd;
}